@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$primaryColor: #292929;
$secondaryColor: #00FF75;
$light: #fff;


.container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 70%;
}


aside {
    width: 30%;
}

article {
    width: 70%;
    text-align: center;
}
