@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$primaryColor: #292929;
$secondaryColor: #00FF75;
$light: #fff;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: $primaryColor;
    color: $light;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;

    &__list {
        list-style: none;
        font-size: 1rem;
        display: flex;
  
        &__item {
            margin-left: 20px;
            a {
                text-decoration: none;
                color: $light;
                transition: .4s ease-in-out;

                &:hover {
                    opacity: .4;
                }
            }
        }
    }
}
/* table */@at-root
table th , table td{
    text-align: center;
}

.table-striped tbody tr:nth-of-type(2n+1){
    background-color: white;
}

table tr:nth-child(even){
    background-color: #BEF2F5
}

.pagination li:hover{
    cursor: pointer;
}
		table tbody tr {
			display: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
