@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$primaryColor: #292929;
$secondaryColor: #00FF75;
$light: #fff;


// ------------ ARTYKUÅY -------------------
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
  
    aside {
      width: 30%;
    }
  
    article {
      width: 70%;
    }
  }

h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: $secondaryColor;
}

h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.footer {
    text-align: center;
    background-color: $primaryColor;
    color: $light;
}

/* table */@at-root
table th , table td{
    text-align: left;
}

.numer {
    text-align: center;
}

table thead {
    background-color: $light;
}

.table-striped tbody tr:nth-of-type(2n+1){
    background-color: white;
}

table tr:nth-child(even){
    background-color: $secondaryColor;
}

.pagination li:hover{
    cursor: pointer;
}
		table tbody tr {
			display: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: $primaryColor;
    cursor: default;
    background-color: $secondaryColor;
    border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: $primaryColor;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid $secondaryColor;
}
