@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$primaryColor: #292929;
$secondaryColor: #00FF75;
$light: #fff;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: $primaryColor;
  color: $light;
}

header {
  width: 70%;
  
  margin: 0 auto;
  }
  
  main {
  width: 80%;
  
  margin: 0 auto;
  }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;

  &__list {
      list-style: none;
      font-size: 1rem;
      display: flex;

      &__item {
          margin-left: 20px;
          a {
              text-decoration: none;
              color: $light;
              transition: .4s ease-in-out;

              &:hover {
                  opacity: .4;
              }
          }
      }
  }
}


h1 {
  font-weight: 600;
  font-size: 1.5rem;
}


.span {
  display: block;
  color: $secondaryColor;
  font-size: .8rem;
  position: relative;

}
.article {
  max-width: 90%;
  height: 100%;
  // background-color: $light;
  // color: $primaryColor;
  margin: 0 auto;
  text-align: center;
  p {
      text-align: justify;
  }
}

.lados {
  width: 30%;

}

.list {
  text-align: left;
}

.footer {
  text-align: center;
  color: $light;
  font-size: 0.7rem;
}

.logo {
color: $light;
text-decoration: none;
transition: .4s ease-in-out;
}

.logo:hover {
  color: $light;
  text-decoration: none;
  opacity: .4;
  
}
