@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #292929;
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;
}

.menu__list {
  list-style: none;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list__item {
  margin-left: 20px;
}

.menu__list__item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.menu__list__item a:hover {
  opacity: .4;
}

.span {
  display: block;
  color: #00FF75;
  font-size: .8rem;
  position: relative;
}

.article {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.article p {
  text-align: justify;
}

.lados {
  width: 30%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
}

.container aside {
  width: 30%;
}

.container article {
  width: 70%;
}

.pagenumber {
  display: none;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  border-right: 1px solid #C1C3D1;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

td:last-child {
  border-right: 0px;
}

.list {
  text-align: left;
}

.footer {
  text-align: center;
  background-color: #292929;
  color: #fff;
}

.logo {
  color: #fff;
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}

[class="fa"]:before {
  font-family: 'fontawesome', sans-serif;
}

.section {
  background: #31A66C;
  width: 80vw;
  max-width: 40rem;
  min-width: 390px;
  height: 25rem;
  margin: 4rem auto;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

article {
  position: absolute;
  left: 0;
  top: 5rem;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem 0;
  overflow: auto;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

article:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

body > h2 {
  height: auto;
}

h2 img {
  width: 120px;
  height: auto;
  background: #f9f9f9;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

h2 span {
  font-family: Great Vibes;
  font-weight: 400;
  display: block;
  margin-bottom: 1rem;
}

footer ul {
  width: 100%;
  color: #037B49;
}

footer li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

footer li::before {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

p, dl, ol {
  line-height: 1.5;
  font-size: 1.3rem;
}

ol li {
  margin: 0 0 .5rem 1rem;
}

dt {
  font-size: 1.6rem;
  font-weight: 600;
  text-indent: 1.5rem;
}

nav {
  background: #fff;
  width: 100%;
  height: 5rem;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

nav:after {
  content: '';
  width: 25%;
  height: 5rem;
  background: #BEE3D1;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

input {
  display: none;
}

label {
  width: 25%;
  float: left;
  color: #BEE3D1;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

label:hover {
  color: #1E6743;
}

label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}

#profile:checked ~ nav [for='profile'],
#settings:checked ~ nav [for='settings'],
#posts:checked ~ nav [for='posts'],
#books:checked ~ nav [for='books'] {
  color: #1E6743;
  font-weight: 600;
}

#profile:checked ~ nav:after {
  left: 0;
}

#settings:checked ~ nav:after {
  left: 25%;
  border-top: 0 none;
}

#posts:checked ~ nav:after {
  left: 50%;
}

#books:checked ~ nav:after {
  left: 75%;
}

#profile:checked ~ .uno,
#settings:checked ~ .dos,
#posts:checked ~ .tres,
#books:checked ~ .cuatro {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.youtube__link {
  margin-top: 1rem;
}

.youtube__link a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */