<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/artykuly.css">

    <title>Artykuły</title>
</head>

<body>
    <header>
        <nav class="menu">
            <h1>
                Grupa Ładosia
                <span class="span">
                    Rok 2021 rokiem grupy Ładosia
                </span>
            </h1>
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="index.html">
                        Strona Główna
                    </a>
                </li>
                <li class="menu__list__item">
                    <a href="lista.html">
                        Lista Ładosia
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="artykuly.html">
                        Artykuły
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="#">
                        Archiwum zdjęciowe
                    </a>
                </li>
            </ul>
            <!-- <img src="./images/logo.png" alt="Logo-uczelnia"> -->
        </nav>
    </header>

    <main class="container">
        <aside>
            <nav>
                <!-- <h3>Artykuły</h3> -->
                <ul>
                    <a href="artykuly.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/article.jpg" alt="">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Historia</span>
                                        <div class="title">Kim jest grupa Ładosia?</div>
                                        <p>x</p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </a>
                    <a href="artykuly2.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/lados.jpg" alt="Ładoś">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Biografia</span>
                                        <div class="title">Aleksander Ładoś - biografia</div>
                                        <p>x</p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </nav>
        </aside>

        <article class="article">
            <h5 style="font-weight: bold ; text-align: left; margin-bottom:2rem ;">Biografia Aleksandra Ładosia</h5>
            <p style="line-height: 1.5; text-align: justify; letter-spacing: 1px;">
                <p>
                    Syn Jana, starszego radcy Dyrekcji Poczty we Lwowie i Albiny z domu Kalous. Ukończył z wyróżnieniem IV
                    Gimnazjum Klasyczne we Lwowie, następnie studiował historię na Wydziale Filozoficznym Uniwersytetu Jana
                    Kazimierza we Lwowie. W 1913 rozpoczął działalność polityczną w PSL „Piast”, poznając osobiście
                    Wincentego Witosa i Jana Dąbskiego. Po wybuchu I wojny światowej brał udział w organizacji Legionu
                    Wschodniego, po czym wyjechał do Lozanny, gdzie kontynuował przerwane studia.
                </p>

                <p>
                    Po odzyskaniu niepodległości, wiosną 1919 wrócił do kraju i w czerwcu 1919 wstąpił do służby
                    dyplomatycznej RP. Do wiosny 1920 delegat ds. plebiscytu na Spiszu i Orawie. Od kwietnia 1920 pracownik
                    centrali MSZ w Warszawie, od 17 sierpnia 1920 kierownik Wydziału Prasowego MSZ. W latach 1920–1921 był
                    sekretarzem delegacji polskiej na rozmowy pokojowe z Rosją Sowiecką w Mińsku i Rydze, uczestniczył w
                    rozmowach Jana Dąbskiego z Adolfem Joffe.
                </p>

                <p>
                    W grudniu 1921 mianowany na kierownika Wydziału Środkowo-Europejskiego w Departamencie Politycznym MSZ,
                    od 31 stycznia 1922 naczelnik tego wydziału. 9 października 1923 mianowano go posłem RP w Rydze, zaś po
                    przewrocie majowym odwołując. 1 marca 1927 mianowany na konsula generalnego RP w Monachium. Po objęciu
                    30 czerwca 1931 funkcji wiceministra spraw zagranicznych przez Józefa Becka został zwolniony z MSZ.
                </p>

                <p>
                    Do agresji III Rzeszy i ZSRR na Polskę zajmował się publicystyką polityczną. Był redaktorem naczelnym
                    Gazety Handlowej, publikował w Odnowie, Polonii, Wieczorze Warszawskim, ABC, Zwrocie i Gońcu
                    Warszawskim, używając pseudonimu Wacław Nienaski. Krytykował politykę Józefa Becka, politycznie zbliżył
                    się do Frontu Morges.
                </p>

                <p>
                    Od 3 października do 7 grudnia 1939 sprawował funkcję ministra bez teki w rządzie Władysława Sikorskiego
                    z ramienia Stronnictwa Ludowego, zastąpił go Stanisław Kot. Członek Komitetu Ministrów dla Spraw Kraju z
                    ramienia stronnictwa Ludowego od 8 listopada 1939 roku[3]. Od 24 maja 1940 do lipca 1945 pełnił misję
                    posła w Bernie w randze chargé d’affaires ad interim. Do jego zadań należała m.in. opieka nad polskimi i
                    żydowskimi uchodźcami, a także kilkunastoma tysiącami internowanych żołnierzy Drugiej Dywizji Strzelców
                    Pieszych generała Bronisława Prugar-Ketlinga. Ładoś prowadził też negocjacje na temat przystąpienia
                    Litwy do planowanej po wojnie konfederacji polsko-czechosłowackiej, a pod koniec wojny – za zgodą MSZ –
                    nieformalne rozmowy na temat kształtu granicy wschodniej. Przez Berno przesyłane też były środki na
                    pomoc humanitarną dla polskich uchodźców na całym świecie.
                </p>
            </p>
            <p style="text-align: left;">
                Źródło: <a href="https://pl.wikipedia.org/wiki/Aleksander_%C5%81ado%C5%9B">Wikipedia</a>
            </p>
        </article>
    </main>


    <footer class="footer">
        &copy; 2021
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>