<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/artykuly.css">

    <title>Artykuły</title>
</head>

<body>
    <header>
        <nav class="menu">
            <h1>
                Grupa Ładosia
                <span class="span">
                    Rok 2021 rokiem grupy Ładosia
                </span>
            </h1>
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="index.html">
                        Strona Główna
                    </a>
                </li>
                <li class="menu__list__item">
                    <a href="lista.html">
                        Lista Ładosia
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="artykuly.html">
                        Artykuły
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="#">
                        Archiwum zdjęciowe
                    </a>
                </li>
            </ul>
            <!-- <img src="./images/logo.png" alt="Logo-uczelnia"> -->
        </nav>
    </header>

    <main class="container">
        <aside>
            <nav>
                <!-- <h3>Artykuły</h3> -->
                <ul>

                    <a href="artykuly.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/article.jpg" alt="">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Historia</span>
                                        <div class="title">Kim jest grupa Ładosia?</div>
                                        <p style="color: transparent;">x</p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </a>
                    <a href="artykuly2.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/lados.jpg" alt="Ładoś">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Biografia</span>
                                        <div class="title">Aleksander Ładoś - biografia</div>
                                        <p style="color: transparent;">x</p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </nav>
        </aside>

        <article class="article">
            <h5 style="font-weight: bold ; text-align: left; margin-bottom:2rem ;">Kim jest grupa Ładosia?</h5>
            <p style="line-height: 1.5; text-align: justify; letter-spacing: 1px;"><p>
                Rok 2021 został ogłoszony rokiem
                    <strong>grupy Ładosia</strong>.
            </p>
                <p>Ale czym była ta grupa? Czym się zajmowali? Kto wchodził w jej skład?
                Postaram się opowiedzieć krótko i rzetelnie o tych dzielnych ludziach.</p>
                <p>
                    Do tej pory nie wiemy dokładnie ilu ludzi straciło życie w obozach takich jak Auschwitz Birkenau,
                    Treblinka, w Majdanku czy wielu innych.
                    Szacuje się, że łącznie około 6 milionów europejskich Żydów straciło życie z rąk Nazistowskich Niemców.
                    Polacy często ratowali Żydów, poprzez ukrywanie ich i formowanie jednostek pomocy Żydom. Jednak
                    największym tworem ratującym ich życie stała się grupa Ładosia, która działała <em>w latach 1941-1943</em>.
                </p>
                <p>
                    <strong>Grupa Ładosia</strong>, czyli też tak zwana grupa berneńska. Była Polską grupą dyplomatyczną, która wspólnie
                    stworzyła w Szwajcarii w czasie II wojny światowej system nielegalnej produkcji paszportów południowo i
                    środkowo-amerykańskich. Dzięki którym możliwy był ratunek dla europejskich Żydów od zagłady z rąk
                    żołnierzy nazistowskich Niemiec.
                    Większość paszportów tworzył Konstanty Rokicki, który był bezpośrednim twórcą większości paszportów.
                    Zajmował się ich kupowaniem na czarnym rynku. Zaś Abraham Silberschein i Chaime Eisse zajmowali się
                    przemytem paszportów, zdjęć i danych personalnych między Bernem, a Europą.
                    Aleksander Ładoś i Stefan Ryniewicz zapewniali poparcie berneńskiego korpusu dyplomatycznego oraz
                    uniemożliwiali rozbicie operacji przez policję. Juliusz Kuhl, zapewniał bezpieczny kontakt pomiędzy
                    organizacjami Żydowskimi i Poselstwem.
                    Sam pomysł tworzenia fałszywych paszportów Ameryki Łacińskiej powstał w 1939/1940 roku. Ciekawostką jest, że nie miał związku z późniejszym Holocaustem.
                    Kilkadziesiąt dokumentów miało zostać wyprodukowanych w celu możliwości opuszczenia przez wpływowych
                    Żydów z terenów pod władzą Związku Sowieckiego, poprzez Japonie.
                </p>
                
                <p>
                    Ciekawym faktem odnośnie grupy Ładosia było to, że była kręgiem nieformalnym, czyli też nie miała
                    struktur. Tak samo powiązania między jej członkami były losowe. W skład grupy wchodziło czterech
                    dyplomatów Poselstwa Rzeczypospolitej Polskiej, przedstawiciel RELICO(Komitetu Pomocy Ofiarom Wojny),
                    przedstawiciel Agudat Israel. Wszyscy wymienieni są poniżej.
                    Pięciu na sześciu członków było obywatelami Polskimi, zaś połowa była narodowości Żydowskiej.
                    Sami członkowie to: Aleksander Ładoś, Abraham Silberschein, Konstanty Rokicki, Chaim Eiss, Stefan
                    Ryniewicz i Juliusz Kuhl.
                    Efektami działania samej grupy było uratowanie około przynajmniej od 3 do 5, a nawet wiele więcej tysięcy
                    istnień. Samych dokumentów było więcej, niż nazwisk na liście.
                    Dokumentów było prawdopodobnie od 8 do 10 tysięcy, gdy sama lista zawiera 3262 nazwiska.
                    Po dziś dzień rodziny Żydowskie z całego świata kontaktują się w celu uzupełnienia listy o nazwiska ich
                    bliskich uratowanych przez grupę Ładosia.
                    To dzięki tym dokumentom Żydzi trafiali zamiast do Auschwitz czy Sobiboru do obozów przejściowych, gdzie
                    jako obywatele państw trzecich byli wymieniani na Niemieckich jeńców.
                    Tym samym ta właśnie jedna Polska struktura zwana Grupą Ładosia ocaliła życie tysięcy istnień.
                </p>
            </p>
        </article>
    </main>


    <footer class="footer">
        &copy; 2021
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>