<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/artykuly.css">

    <title>Artykuły</title>
</head>

<body>
    <header>
        <nav class="menu">
            <h1>
                Grupa Ładosia
                <span class="span">
                    Rok 2021 rokiem grupy Ładosia
                </span>
            </h1>
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a href="index.html">
                        Strona Główna
                    </a>
                </li>
                <li class="menu__list__item">
                    <a href="lista.html">
                        Lista Ładosia
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="artykuly.html">
                        Artykuły
                    </a>
                </li>

                <li class="menu__list__item">
                    <a href="#">
                        Archiwum zdjęciowe
                    </a>
                </li>
            </ul>
            <!-- <img src="./images/logo.png" alt="Logo-uczelnia"> -->
        </nav>
    </header>

    <main class="container">
        <aside>
            <nav>
                <!-- <h3>Artykuły</h3> -->
                <ul>

                    <a href="artykuly.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/article.jpg" alt="">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Historia</span>
                                        <div class="title">Kim jest grupa Ładosia?</div>
                                        <p style="color: transparent;">x</p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </li>
                    </a>
                    <a href="artykuly2.html" style="text-decoration: none;">
                        <li class="art__list">
                            <div id="root" class="container-article">
                                <div v-for="data of articles" class="card">
                                    <div class="image-container">
                                        <img src="./images/lados.jpg" alt="Ładoś">
                                    </div>
                                    <div class="card-content">
                                        <span class="tag">Biografia</span>
                                        <div class="title">Aleksander Ładoś - biografia</div>
                                        <p style="color: transparent;">x
                                        <p>
                                        <div class="user">
                                            <div class="user-img">
                                                <img class="cat" src="./images/cat.jpg" alt="">
                                            </div>
                                            <div class="user-info">
                                                <span>Mikołaj Wiecheć</span>
                                                <small>2021.03.25</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </nav>
        </aside>

        <article class="article">
            <h5 style="font-weight: bold ; text-align: left; margin-bottom:2rem ;">Kim jest grupa Ładosia?</h5>
            <p style="line-height: 1.5; text-align: justify; letter-spacing: 1px;">2021 rok został ogłoszony rokiem
                grupy Ładosia.
                Ale czym był ten twór? Czym się zajmował? Kto wchodził w jego skład?
                Postaram się opowiedzieć krótko i rzetelnie o tych dzielnych ludziach.
                Do tej pory nie wiemy ile dokładnie ludzi straciło życie w obozach takich jak Auschwitz Birkenau czy też
                w Trebriance, w Majdanku czy wielu innych.
                Szacuje się że łącznie około 6 milionów europejskich Żydów straciło życie z rąk Nazistowskich Niemiec.
                Polacy często ratowali Żydów, po przez ukrywanie ich. Formowanie jednostek pomocy żydom. Jednak
                największym tworem ratującym ich życie stała się grupa Ładosia.
                Grupa Ładosia, czyli też tak zwana grupa berneńska. Była Polską grupą dyplomatyczną, która wspólnie
                stworzyła w Szwajcarii w czasie II wojny światowej system nielegalnej produkcji paszportów południowo i
                środkowoamerykańskich. Dzięki którym możliwy był ratunek dla europejskich żydów od zagłady z rąk
                żołnierzy nazistowskich Niemiec.
                Do tej pory nie wiemy ile dokładnie ludzi straciło życie w obozach takich jak Auschwitz Birkenau czy też
                w Trebriance, w Majdanku czy wielu innych.
                Szacuje się że łącznie około 6 milionów europejskich Żydów straciło życie z rąk Nazistowskich Niemiec.
                Większość paszportów tworzył Konstanty Rokicki, który był bezpośrednim twórcą większości paszportów.
                Zajmował się ich kupowaniem na czarnym rynku. Zaś Abraham Silberschein i Chaime Eisse zajmowali się
                przemytem paszportów, zdjęć i danych personlanych między Bernem a Europą.
                Aleksander Ładoś i Stefan Ryniewicz zapewniał poparcie berneńskiego korpusu dyplomatycznego oraz
                uniemożliwiał rozbicie operacji przez policję. Juliusz Kuhl, zapewniał bezpieczny kontkat pomiędzy
                organizacjami żydowskimi i Poselstwem.
                Sam pomysł tworzenia fałszywych paszportów Ameryki Łacińskiej powstał w 1939/1940 roku. Ciekawostką jest
                że nie miał związku z późniejszym Holocaustem.
                Kilkadziesiąt dokumentów miało zostać wyprodukowanych w celu możliwości opuszczenia przez wpływowych
                żydów z terenów pod władzą Związku Sowieckiego, po przez Japonie.
                <br />
                Ciekawym faktem odnośnie grupy Ładosia było to że była kręgiem nieformalnym, czyli też nie miała
                struktur. Tak samo powiązania między jej członkami były losowe. W skład grupy wchodziło czterech
                dyplomatów Poselstwa Rzeczypospolitej Polskiej, przedstawiciel RELICO(Komitetu Pomocy Ofiarom Wojny),
                przedstawiciel Agudat Israel. Wszyscy wymienieni są poniżej.
                Pięciu na sześciu członków było obywatelami polskimi, zaś połowa była narodowości żydowskiej.
                Sami członkowie to, Aleksander Ładoś , Abraham Silberschein , Konstanty Rokicki, Chaim Eiss, Stefan
                Ryniewicz, Juliusz Kuhl.
                Efektami działania samej grupy było uratowanie około przynajmniej od 3 do 5 a nawet więcej tysięcy
                istnień. Samych dokumentów było więcej niż nazwisk na liście.
                Dokumentów było prawdopodobnie od 8 do 10 tysięcy, gdy sama lista zawiera 3262 nazwiska.
                Po dziś dzień rodziny żydowskie z całego świata odzywają się w celu uzupełnienia listy o nazwiska ich
                bliskich uratowanych przez grupę Ładosia.
                To dzięki tym dokumentom Żydzi trafiali zamiast do Auschwitz czy Sobiboru do obozów przejściowych, gdzie
                jako obywatele państw trzecich byli wymieniani na niemieckich jeńców.
                Tym samym te właśnie jedna Polska struktura zwana grupą ładosia ocaliła życie tysięcy istnień.
            </p>
        </article>
    </main>


    <footer class="footer">
        &copy; 2021
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>